<app-home></app-home>

<div class="row">
    <div class="col-md-12 bg-danger p-3 text-center fw-bold fs-3">Data Binding</div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 bg-primary p-3 text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        One Way
       
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 bg-secondary p-3 text-center" >Two Way</div>
    
</div>
<div class="row">
    <div class="col-3 text-center p-3 bg-secondary">.ts to .html</div>
    <div class="col-3 text-center p-3 bg-secondary">.html to .ts</div>
    <div class="col-6 text-center p-3 bg-danger">ngmodel</div>
</div>
<div class="row">
    
</div>

