@import '@fortawesome/fontawesome-free/css/all.min.css';
.custom-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    height: 4.5em; /* Adjust based on line-height */
   
    line-height: 1.5em; /* Adjust for your design */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}